@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 209 100% 95%;
    --foreground: 209 5% 0%;
    --card: 209 50% 90%;
    --card-foreground: 209 5% 10%;
    --popover: 209 100% 95%;
    --popover-foreground: 209 100% 0%;
    --primary: 209 35.2% 51%;
    --primary-foreground: 0 0% 100%;
    --secondary: 209 30% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: 171 30% 85%;
    --muted-foreground: 209 5% 35%;
    --accent: 171 30% 80%;
    --accent-foreground: 209 5% 10%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 209 5% 90%;
    --border: 209 30% 50%;
    --input: 209 30% 18%;
    --ring: 209 35.2% 51%;
    --radius: 0.5rem;
    --light-blue: #5684ae;
    --dark-blue: #0f4c81;
    --light-orange: #ffe4c8;
    --dark-orange: #f9be81;
    --calendar-tile-color: #e4f6ed;
    --calendar-day-color: black;
    --amber: #fb923c;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }
  .dark {
    --calendar-tile-color: #2b4d42;
    --background: 209 50% 5%;
    --foreground: 209 5% 90%;
    --card: 209 50% 0%;
    --card-foreground: 209 5% 90%;
    --popover: 209 50% 5%;
    --popover-foreground: 209 5% 90%;
    --primary: 209 35.2% 51%;
    --primary-foreground: 0 0% 100%;
    --secondary: 209 30% 10%;
    --secondary-foreground: 0 0% 100%;
    --muted: 171 30% 15%;
    --muted-foreground: 209 5% 60%;
    --accent: 171 30% 15%;
    --accent-foreground: 209 5% 90%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 209 5% 90%;
    --border: 209 30% 18%;
    --input: 209 30% 18%;
    --ring: 209 35.2% 51%;
    --calendar-day-color: white;
    --radius: 0.5rem;
  }
}

/* CUSTOMIZE CALENDAR */

.fc-today-button {
  background-color: white !important;
  font-weight: 400 !important;
  color: var(--light-blue) !important;
  border: 1px solid var(--light-blue) !important;
  border-radius: 10px !important;
  height: 100% !important;
  padding: 5px 1rem 5px 1rem !important;
}

.fc-prev-button {
  background-color: white !important;
  font-weight: 400 !important;
  color: var(--light-blue) !important;
  border: 1px solid white !important;
  border-radius: 50% !important;
  width: 1rem !important;
  height: 1rem !important;
  height: 100% !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  padding: 2px 1rem 2px 1rem !important;
  margin-right: 10px !important;
  transition-duration: 0.2s;
}
.fc-prev-button:hover {
  border: 1px solid var(--light-blue) !important;
}
.fc-next-button {
  background-color: white !important;
  font-weight: 400 !important;
  color: var(--light-blue) !important;
  border: 1px solid white !important;
  border-radius: 50% !important;
  width: 1rem !important;
  height: 1rem !important;
  height: 100% !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  padding: 2px 1rem 2px 1rem !important;
  margin-right: 10px !important;
  transition-duration: 0.2s;
}
.fc-next-button:hover {
  border: 1px solid var(--light-blue) !important;
}
.fc-button-group {
  display: flex;
  gap: 2px;
}
.fc-toolbar-title {
  font-size: medium !important;
}
.fc-toolbar-chunk {
  display: flex;
  align-items: center;
}
.fc .fc-daygrid-day.fc-day-today {
  background-color: var(--calendar-tile-color) !important;
}
.fc-popover {
  border-radius: 10px;
}
.fc-popover-body {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.fc-event {
  display: block !important;
  border-radius: 5px;
  padding-left: 10px;
  white-space: nowrap;
  border: 0px;
  overflow: hidden;
  text-overflow: ellipsis;
  border-left: 10px solid var(--amber) !important;
}
.fc-daygrid-day-top {
  justify-content: center;
  opacity: 0.8;
  margin-top: 10px;
  color: var(--calendar-day-color);
}
.fc-scrollgrid-sync-inner {
  opacity: 0.8;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    transition: 200ms;
  }
}
